// https://palettolithic.com/?color=051c2c
:root {
  --gray-50: #f2f3f3;
  --gray-100: #e5e6e6;
  --gray-200: #cbcdcd;
  --gray-300: #b1b4b4;
  --gray-400: #979b9b;
  --gray-500: #7d8282;
  --gray-600: #646868;
  --gray-700: #4b4e4e;
  --gray-800: #323434;
  --gray-900: #191a1a;

  --blue-50: #e8f4fc;
  --blue-100: #d1e9fa;
  --blue-200: #a3d3f5;
  --blue-300: #76bdef;
  --blue-400: #48a8ea;
  --blue-500: #1a92e5;
  --blue-600: #1575b7;
  --blue-700: #105789;
  --blue-800: #0a3a5c;
  --blue-900: #051d2e;

  --indigo-50: #e8eafc;
  --indigo-100: #d1d5fa;
  --indigo-200: #a3acf5;
  --indigo-300: #7682ef;
  --indigo-400: #4858ea;
  --indigo-500: #1a2fe5;
  --indigo-600: #1525b7;
  --indigo-700: #101c89;
  --indigo-800: #0a135c;
  --indigo-900: #05092e;

  --violet-50: #f0e8fc;
  --violet-100: #e2d1fa;
  --violet-200: #c5a3f5;
  --violet-300: #a876ef;
  --violet-400: #8a48ea;
  --violet-500: #6d1ae5;
  --violet-600: #5715b7;
  --violet-700: #421089;
  --violet-800: #2c0a5c;
  --violet-900: #16052e;

  --purple-50: #fae8fc;
  --purple-100: #f6d1fa;
  --purple-200: #eca3f5;
  --purple-300: #e376ef;
  --purple-400: #da48ea;
  --purple-500: #d01ae5;
  --purple-600: #a715b7;
  --purple-700: #7d1089;
  --purple-800: #530a5c;
  --purple-900: #2a052e;

  --pink-50: #fce8f4;
  --pink-100: #fad1e9;
  --pink-200: #f5a3d3;
  --pink-300: #ef76bd;
  --pink-400: #ea48a8;
  --pink-500: #e51a92;
  --pink-600: #b71575;
  --pink-700: #891057;
  --pink-800: #5c0a3a;
  --pink-900: #2e051d;

  --red-50: #fce8ea;
  --red-100: #fad1d5;
  --red-200: #f5a3ac;
  --red-300: #ef7682;
  --red-400: #ea4858;
  --red-500: #e51a2f;
  --red-600: #b71525;
  --red-700: #89101c;
  --red-800: #5c0a13;
  --red-900: #2e0509;

  --orange-50: #fcf0e8;
  --orange-100: #fae2d1;
  --orange-200: #f5c5a3;
  --orange-300: #efa876;
  --orange-400: #ea8a48;
  --orange-500: #e56d1a;
  --orange-600: #b75715;
  --orange-700: #894210;
  --orange-800: #5c2c0a;
  --orange-900: #2e1605;

  --yellow-50: #fcfae8;
  --yellow-100: #faf6d1;
  --yellow-200: #f5eca3;
  --yellow-300: #efe376;
  --yellow-400: #eada48;
  --yellow-500: #e5d01a;
  --yellow-600: #b7a715;
  --yellow-700: #897d10;
  --yellow-800: #5c530a;
  --yellow-900: #2e2a05;

  --lime-50: #f4fce8;
  --lime-100: #e9fad1;
  --lime-200: #d3f5a3;
  --lime-300: #bdef76;
  --lime-400: #a8ea48;
  --lime-500: #92e51a;
  --lime-600: #75b715;
  --lime-700: #578910;
  --lime-800: #3a5c0a;
  --lime-900: #1d2e05;

  --green-50: #eafce8;
  --green-100: #d5fad1;
  --green-200: #acf5a3;
  --green-300: #82ef76;
  --green-400: #58ea48;
  --green-500: #2fe51a;
  --green-600: #25b715;
  --green-700: #1c8910;
  --green-800: #135c0a;
  --green-900: #092e05;

  --teal-50: #e8fcf0;
  --teal-100: #d1fae2;
  --teal-200: #a3f5c5;
  --teal-300: #76efa8;
  --teal-400: #48ea8a;
  --teal-500: #1ae56d;
  --teal-600: #15b757;
  --teal-700: #108942;
  --teal-800: #0a5c2c;
  --teal-900: #052e16;

  --cyan-50: #e8fcfa;
  --cyan-100: #d1faf6;
  --cyan-200: #a3f5ec;
  --cyan-300: #76efe3;
  --cyan-400: #48eada;
  --cyan-500: #1ae5d0;
  --cyan-600: #15b7a7;
  --cyan-700: #10897d;
  --cyan-800: #0a5c53;
  --cyan-900: #052e2a;
}
