.layout {
  display: flex;
  flex-direction: column;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: var(--size-10);
  margin: 0;
  padding: 0;
  list-style: none;

  li:last-of-type {
    flex-grow: 1;
    text-align: right;
  }
}
